<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.epam.model.Ticket"/>
    <bean class="com.epam.model.User"/>
    <bean class="com.epam.model.Event"/>

    <bean class="com.epam.dao.TicketDao"/>
    <bean class="com.epam.dao.UserDao"/>
    <bean class="com.epam.dao.EventDao"/>

    <bean class="com.epam.service.TicketService"/>
    <bean class="com.epam.service.UserService"/>
    <bean class="com.epam.service.EventService"/>

    <bean class="com.epam.storage.Storage"/>

</beans>